.header {
    border-radius: 25px;
    padding: 30px;
}

.rounded {
    border-radius: 7px;
    padding: 5px;
    width: 100%;
}
.error{
    color: red;
    font-weight: bold;
}
.button {
    padding: 8px;
}

.answer{
    color: teal;
    font-weight: bold;
}
.alignclass{
    padding: 15px;
}
@media (min-width: 400px) {
    .flex-container {
        display: block;
    }
    .numberform {
        padding: 15px;
    }
}

@media (min-width: 900px) {
    .flex-container {
        display: flex;
    }
    .numberform {
        padding: 15px;
        width: 50%;
    }
}

.center {
    text-align: center;
}